* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.container {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../images/background-forloading.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flip-card {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    cursor: pointer;
    perspective: 800px;
    transform: translateY(40px) rotateX(-8deg) rotateY(10deg);
    animation: movement 5s infinite;
}

@keyframes movement {
    50% {
      transform: translateY(-40px) rotateX(8deg) rotateY(-10deg);
    }
  }
  

.flip-card div {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:100%;
  position:relative;
}
    backface-visibility: hidden;
    transition: 0.7s;
}


.front {
    filter: drop-shadow(0 0 30px #000);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  
  .flip-card:hover .front {
    transform: rotateY(-180deg);
  }
  
  .flip-card:hover .back {
    transform: rotateY(0);
    filter: drop-shadow(0 0 20px rgb(120, 185, 232));
  }
  