
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/background-forloading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flip-card {
  width: 100vw;
  height: 100vh;
  perspective: 1600px;
  cursor: pointer;
  transform: translateY(40px) rotateX(-8deg) rotateY(10deg);
  animation: movement 5s infinite;
}

@keyframes movement {
  50% {
    transform: translateY(-40px) rotateX(8deg) rotateY(-10deg);
  }
}

.flip-card div {
  position: absolute;
  backface-visibility: hidden;
  transition: 0.7s;
  margin: 5vh 0 0 25vw;

}

.flip-card div img {
  width: 100vw;
  height: 80vh;
  object-fit: contain;
}

.front {
  filter: drop-shadow(0 0 30px #000);
}

.back {
  transform: rotateY(180deg);
}


.flip-card:hover .front {
  transform: rotateY(-180deg);
}

.flip-card:hover .back {
  transform: rotateY(0);
  filter: drop-shadow(0 0 20px rgb(120, 185, 232));
}
