* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/background-forloading.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  perspective: 80vh;
}

.flip-card {
  position: relative;
  width: 80vw;
  height: 70vh;
  perspective: 80vh;
  cursor: pointer;
  transform: translateY(40px) rotateX(-8deg) rotateY(10deg);
  animation: movement 5s infinite;
  margin-top: 10vh;
}

@keyframes movement {
  50% {
    transform: translateY(-40px) rotateX(8deg) rotateY(-10deg);
  }
}

.flip-card div {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;

}

.flip-card div img {
  width: 80vw;
  height: 70vh;
  object-fit: contain;
}

.front {
  filter: drop-shadow(0 0 30px #000);
}

.back {
  transform: rotateY(180deg);
}


.flip-card:hover .front {
  transform: rotateY(-180deg);
}

.flip-card:hover .back {
  transform: rotateY(0);
  filter: drop-shadow(0 0 20px rgb(120, 185, 232));
}

.flip-card-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
}