html {
  background-size: cover;
}

.intro-background {
  background-image: url("../../images/intro-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  margin: 0 0 45vh 6vh;
}

.top span:first-child {
  font-size: 10vw;
  margin-bottom: 2vh;
}

.first-row {
  margin-top: 12vh;
}

.second-row,
.third-row {
  font-size: 5vw;
  margin-bottom: 0.2vh;
}

.second-page-row {
  font-size: 4vw;
}

.third-page-row {
  font-size: 2.9vw;
}

