html {
  font-family: "BMHANNAAir";
  background-image: url(../../images/intro-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 105%;
  width: 100%;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  margin: 12vh 0 30vh 6vh;
}

.top span:first-child {
  font-size: 10vw;
  margin-bottom: 2vh;
}

.top span:not(:first-child) {
  font-size: 5vw;
  margin-bottom: 0.2vh;
}
