#fifth-page,
#sixth-page,
#seventh-page,
#eigth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "HeirofLightRegular";
}

.big-haechi {
  object-fit: contain;
  width: 30vw;
  height: 20vh;
  margin: 12vh 0 8vh 0;
}

#haechi-says,
#haechi2-says {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  margin-bottom: 12vh;
}

#haechi-says span,
#haechi2-says span {
  margin-bottom: 1.5vh;
}

#haechi-says_row {
  margin-bottom: 4vh;
}

#haechi-says span:nth-child(3) {
  margin-bottom: 4vh;
}

#haechi2-says span:nth-child(2),
#haechi2-says span:nth-child(4),
#haechi2-says span:nth-child(5) {
  margin-bottom: 4vh;
}

.small-haechi {
  object-fit: contain;
  width: 20vw;
  height: 20vh;
  margin: 2vh 0 0 70vw;
}

#haechi-top,
#haechi1-top {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  margin: 1vh 0 0 -19vw;
}

#haechi-top span,
#haechi1-top span {
  margin-bottom: 1.3vh;
}

#haechi-top span:nth-child(3) {
  margin-bottom: 3vh;
}

#haechi1-top span:nth-child(4) {
  margin-top: 4vh;
}
#haechi1-top span:nth-child(5) {
  margin-bottom: 4vh;
}

#haechi-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  margin: 4vh 0 7vh 0;
  position: relative;
}

#haechi1-mid {
  margin-top: 4vh;
}

#haechi-mid span:nth-child(2) {
  margin: 1vh;
}

#gold-frame_small {
  object-fit: contain;
  width: 85vw;
  height: 15vh;
  position: absolute;
  bottom: -4.5vh;
}

#haechi-mid span {
  font-size: 5vw;
}

#haechi-mid span:nth-child(2) {
  margin-top: 6vh;
}

#fires {
  object-fit: contain;
  width: 70vw;
  height: 10vh;
  margin: 3vh 0 3vh 0;
}

#haechi-bottom,
#haechi1-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 4vw;
}

#haechi-bottom {
  margin: 6vh -19vw 8vh 0;
}

#haechi1-bottom {
  margin: 6vh -10vw 12vh 0;
}

#haechi-bottom span,
#haechi1-bottom span {
  margin-bottom: 1vh;
}

#haechi-bottom span:nth-child(2) {
  margin-bottom: 4vh;
}

.row {
  margin-bottom: 1vh;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: rgb(187, 37, 37);
}
