body {
  background-image: url("../../images/background-forloading.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
}

.materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#materials-image {
  margin-top: 16vh;
  width: 80vw;
  height: 42vh;
  object-fit: contain;
  margin-bottom: 12vh;
}

#third-page {
  position: relative;
}

#third-page img:first-child {
  object-fit: contain;
  width: 50vw;
  height: 20vh;
  position: absolute;
  top: 6vh;
}

#third-page span:nth-child(2) {
  margin-top: 14.7vh;
  font-size: 5vw;
}

#third-page img:nth-child(3) {
  object-fit: contain;
  width: 63vw;
  height: 38vh;
  margin-top: 3vh;
}

#third-page span:nth-child(4) {
  font-size: 4vw;
  margin: 4vh 0 8vh 0;
}

#fourth-page,
#four-top,
#four-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.materials span {
  font-size: 4vw;
  margin-bottom: 5vh;
}

#maru-pic {
  object-fit: contain;
  width: 30vw;
  height: 25vh;
  margin: 12vh 0 0 0;
}

#hi-user {
  position: relative;
  font-size: 5vw;
}

.quotation-left {
  font-size: 70px;
  position: absolute;
  left: -28px;
  bottom: -35px;
}

#maru-says {
  font-size: 3.5vw;
  margin: 2vh 0 2vh 0;
}

.first-sentence {
  margin-bottom: 0.3vh;
}

.first-sentence span:nth-child(2) {
  color: yellow;
}

#four-bottom {
  position: relative;
}

#scroll {
  object-fit: contain;
  width: 85vw;
  margin-bottom: 5vh;
}

.alert {
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  margin-bottom: 10vh;
}

.alert span:first-child {
  margin-bottom: 1vh;
}

.find-code {
  width: 85vw;
  height: 80vh;
  object-fit: contain;
  margin: 10vh 0 10vh 0
}