html {
  background-image: url(../../images/main-background.png);
}

#materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16vh;
}

#materials-image {
  width: 80vw;
  height: 42vh;
  object-fit: contain;
  margin-bottom: 12vh;
}

#materials span {
  font-size: 4vw;
  margin-bottom: 5vh;
}
