body {
    margin: 0;
    padding: 0;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "HeirofLightRegular";
    background-image: url("../../images/background-forloading.jpg");
}

input {
    display: none;
}



.book {
    display: flex;
    margin-top: 12vh;
}

.cover {
    width: 200px;
    height: 300px;

}

.cover img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.flip-book {
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 1500px;
    
}

.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
    color:#000;
    
}

p {
    font-size: 14px;
    font-language-override: 24px;
}

.front1,
.front2,
.front3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,0.5);

    
}

.front1,
.front3 {
    text-align: center;
}

.front2 {
    background-color: rgb(0, 0, 0);
}

.front1 img,
.front2 img,
.front3 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}


.front1 h2,
.front2 h2,
.front3 h2 {
    padding:5vh 0 3vh 0;
}

.front1 p,
.front2 p,
.front3 p {
    font-size: 3vw;
    font-family: 'GangwonEdu_OTFBoldA';
}

.front2 p {
    color: white;
    font-size: 2.4vw;
    padding: 3vh 0 0 0;
}

.back1,
.back2,
.final-back,
.back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back1 {
    background-image: url("../../images/book-image.jpg");
}


.back2 {
    background-color: rgb(255, 255, 255);
}

.back3 {
    background-color: #151427;
}

.back3 img{
    object-fit: contain;
    width: 200px;
    height: 300px;
}

.final-back {
    background-image: url("../../images/whole-black.jpg")
}

.next-btn,
.next-btn2 {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #000;
}

.next-btn2 {

    color: rgb(255, 255, 255);
}

.back-btn,
.back-btn2 {
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: #fff;
}

.back-btn2 {

    color: rgb(0, 0, 0);
}

#p1,
#b1,
#e1 {
    z-index:5;
}
#p2,
#b2,
#e2 {
    z-index:4;
}
#p3,
#b3,
#e3 {
    z-index:3;
}

#p4,
#b4,
#e4 {
    z-index: 2;
}

#p5,
#b5,
#e5 {
    z-index: 1;
}


#c1:checked ~ .flip-book #p1,
#a1:checked ~ .flip-book #b1,
#d1:checked ~ .flip-book #e1 {
    transform: rotateY(-180deg);
    z-index: 1;
}

#c2:checked ~ .flip-book #p2,
#a2:checked ~ .flip-book #b2,
#d2:checked ~ .flip-book #e2 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#c3:checked ~ .flip-book #p3,
#a3:checked ~ .flip-book #b3,
#d3:checked ~ .flip-book #e3 {
    transform: rotateY(-180deg);
    z-index: 3;
}

#c4:checked ~ .flip-book #p4,
#a4:checked ~ .flip-book #b4,
#d4:checked ~ .flip-book #e4
{
    transform: rotateY(-180deg);
    z-index: 4;
}

#c5:checked ~ .flip-book #p5,
#a5:checked ~ .flip-book #b5,
#d5:checked ~ .flip-book #e5
{
    transform: rotateY(-180deg);
    z-index: 5;
}




label {
    font-family: 'GangwonEdu_OTFBoldA';
}

h2 {
    font-size: 4vw;
}

h5 {
    font-size: 2.6vw;
    color: rgba(208, 205, 205, 0.5);
}

.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    display: inline-block;
    border-bottom: 3px solid rgb(255, 196, 0);
    width: 60px;
    margin: 4vh 0 5vh 0;
    
}

.stars{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 3vh 0 0 0;
}

.stars i {
    color: rgb(255, 196, 0);
    margin: 0 2px 0 2px;
}

.fa-bookmark {
    margin-right: 3vw;
}