body {
  height: 150vh;
}

.quiz1-background,
.quiz2-background {
  background-image: url("../../images/background-forloading.jpg");
  background-size: contain;
  background-position: center top 100%;
  background-repeat: no-repeat;
  height: 150vh;
  width: 100vw;
  color: white;
  position: relative;
}



.quiz {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 8vw;
  display: flex;
  justify-content: center;
  margin-top: 12vh;
}

.quiz-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fire-status img {
  object-fit: contain;
  width: 12vw;
  height: 10vh;
  margin: 3vh 1.2vh 1.5vh 1.2vh;
}

.quiz-text,
.sesil-text,
.donyi-ticket-text {
  object-fit: contain;
  width: 80vw;
  height: 70vh;
}
.quiz-text,
.sesil-text{
margin-bottom: 7vh;
}

.gurakbu-text {
  width: 85vw;
  height: 20vh;
  object-fit: contain;
  margin: 5vh 0 7vh 0;
}

.river-text {
  width: 85vw;
  height: 40vh;
  object-fit: contain;
  margin: 5vh 0 7vh 0;
}

.hidden {
  display: none;
}

.wrong-answer {
  position: fixed;
  color: white;
  font-family: "BMHANNAAir";
  font-size: 3.6vw;
  z-index: 200;
  width: 70vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px double hsla(41, 100%, 51%, 0.9);
  border-radius: 3vh;
  padding: 5vh 0 5vh 0;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
}

.wrong-answer span {
  font-family: "BMHANNAAir";
}

.gurakbu {
  margin-bottom: 9vh;
}

.gurakbu-buttons div {
  margin-bottom: 2vh;
}

.gurakbu-buttons div button {
  margin-right: 3vw;
  width: 25vw;
  height: 14vh;
}

.gurakbu-buttons div button img {
  border-radius: 5%;
  width: 25vw;
  height: 14vh;
  object-fit: cover;
  z-index: 20 !important;
}


.direction-river-center {
  position: relative;
}

#river-map {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}


.chapter22-text {
  width: 85vw;
  height: 40vh;
  object-fit: contain;
  margin: 5vh 0 3vh 0;
}




.chapter22-buttons div button img,
.chapter23-buttons div button img {
  width: 120px;
  height: 140px;
  object-fit: contain;
  margin: 0 5vw 3vh 5vw
}

.chapter22-buttons {
  margin-bottom: 3vh;
}


.donyi-ticket-text {
  margin-top: 10vh;
}

.donyi-arrive-confirm {
  margin-top: 7vh;
}

.donyi-arrive,
.donyi-start {
  position: relative;
}

.donyi-arrive lottie-player,
.donyi-start lottie-player {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
}

.donyi-arrive h3,
.donyi-start h3 {
  padding-top: 60vh;
}

.deoksu-arrive,
.deoksu-ticket {
  position: relative;
}

.deoksu-arrive lottie-player,
.deoksu-ticket lottie-player {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
}

.deoksu-arrive h3,
.deoksu-ticket h3 {
  padding-top: 60vh;
}