body {
  height: 150vh;
}

.quiz1-background {
  background-image: url("../../images/7017.jpg");
  background-size: contain;
  background-position: center top 100%;
  background-repeat: no-repeat;
  height: 148vh;
  width: 100vw;
  color: white;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 8vw;
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}

.quiz-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fire-status img {
  object-fit: contain;
  width: 12vw;
  height: 10vh;
  margin: 3vh 2vh 2vh 0;
}

.quiz-text {
  object-fit: contain;
  width: 90vw;
  height: 75vh;
  margin-bottom: 7vh;
}
