.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.quiz-input {
  width: 70vw;
  height: 6vh;
  border-radius: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.quiz-input {
  width: 60vw;
  height: 4.5vh;
  border: 1.7px solid white;
}

.input:focus,
.quiz-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffc400;
}

.input::placeholder,
.quiz-input::placeholder {
  text-align: center;
  color: white;
  font-weight: 600;
}

.enter,
.quiz-enter {
  width: 70vw;
  height: 6vh;
  border-radius: 10vh;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  color: black;
  font-weight: 200;
}

.quiz-enter {
  width: 60vw;
  height: 4.5vh;
}

.sub-enter {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  height: 30px;
  border: none;
  text-decoration: underline;
}
