.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 70vw;
  height: 6vh;
  border-radius: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid white;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffc400;
}

.input::placeholder {
  text-align: center;
  color: white;
  font-weight: 600;
}

.enter {
  width: 70vw;
  height: 6vh;
  -webkit-border-radius: 10vh;
  -moz-border-radius: 10vh;
  border-radius: 10vh;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  color: black;
  font-weight: 200;
}

.sub-enter {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  height: 30px;
  border: none;
  text-decoration: underline;
}
