

.card-container {
  position: absolute; display: table; top: 0; left: 0; width: 100%; height: 100%;


}

.flip-card {
  display: table-cell; text-align: center; vertical-align: middle;
  position: relative;
  width: 100vw;
  height: 70vh;
  perspective: 1600px;
  cursor: pointer;
  transform: translateY(40px) rotateX(-8deg) rotateY(10deg);
  animation: movement 5s infinite;

}

@keyframes movement {
  50% {
    transform: translateY(-40px) rotateX(8deg) rotateY(-10deg);
  }
}

.flip-card div {
  position: absolute;
  display: inline-block;
  vertical-align: middle; 
  overflow: hidden;
  height: 70vh; left: 0; right: 0; margin-left: auto; margin-right: auto; display: inline-block;
  backface-visibility: hidden;
  transition: 0.7s;

}

.flip-card div img {
  width: 80vw;
  height: 60vh;
  object-fit: contain;
}


.front {
  filter: drop-shadow(0 0 30px #000);
}

.back {
  transform: rotateY(180deg);
}


.flip-card:hover .front {
  transform: rotateY(-180deg);
}

.flip-card:hover .back {
  transform: rotateY(0);
  filter: drop-shadow(0 0 20px rgb(248, 209, 125));
}
