.nav-bar {
  height: 8vh;
  width: 100vw;
  background-image: url("../../images/7017.jpg");
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid white;
  box-sizing: border-box;
  z-index: 2;
}

#image {
  object-fit: contain;
  width: 6vw;
  height: 5vh;
  margin: 0.6vh 2vw 0 0;
}

#map {
  object-fit: contain;
  width: 6.2vw;
  height: 5vh;
  margin: 0.6vh 1vw 0 0;
}

#hint {
  object-fit: contain;
  width: 7.1vw;
  height: 5.2vh;
  margin-right: 3vw;
}
